{% load static %}

<style>
    /* Welcome Page Header Style */

    .welcome-header {
            background-image: url("{% static 'images/1920_Resources_landing_image.jpg' %}");
        }

    @media (max-width: 1920px) {
        .welcome-header {
            background-image: url("{% static 'images/1920_Resources_landing_image.jpg' %}");
        }
    }

    @media (max-width: 1440px) {
        .welcome-header {
            background-image: url("{% static 'images/1440_Resources_landing_image.png' %}");
        }
    }

    @media (max-width: 1366px) {
        .welcome-header {
            background-image: url("{% static 'images/1366_Resources_landing_image.png' %}");
        }
    }

    @media (max-width: 1024px) {
        .welcome-header {
            background-image: url("{% static 'images/1024_Resources_landing_image.png' %}");
        }
    }

    @media (max-width: 768px) {
        .welcome-header {
            background-image: url("{% static 'images/768_Resources_landing_image.png' %}");
        }
    }

    @media (max-width: 414px) {
        .welcome-header {
            background-image: url("{% static 'images/414_Resources_landing_image.png' %}");
        }
    }

    @media (max-width: 375px) {
        .welcome-header {
            background-image: url("{% static 'images/375_Resources_landing_image.png' %}");
        }
    }

    @media (max-width: 320px) {
        .welcome-header {
            background-image: url("{% static 'images/320_Resources_landing_image.png' %}");
        }
    }
</style>
